[Unit]
Description=Timer for staging backend cron job %i

[Timer]
Persistent=true
Unit=backend-staging-cron@%i.service

# Default schedule (MUST be cleared in overrides)
OnCalendar=*-*-* *:00

[Install]
WantedBy=timers.target