[Unit]
Description=Timer for production backend cron job %i

[Timer]
Persistent=true
Unit=backend-production-cron@%i.service

# Default schedule (MUST be cleared in overrides)
OnCalendar=*-*-* *:00

[Install]
WantedBy=timers.target